.container {
    width: 200px;
    border: 2px solid rgb(8, 173, 8);
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 10px 0;
}
.header {
    font-size: 20px;
    font-weight: bold;
    color: rgb(8, 173, 8);
    margin-bottom: 10px;
}
.price {
    background-color: rgb(8, 173, 8);
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}
.options {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #555;
    margin-bottom: 10px;
}
.options li {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.options li:nth-child(2),
.options li:nth-child(4),
.options li:nth-child(6) {
    background-color: #f0f0f0;
}
button {
    background-color: white;
    color: rgb(8, 173, 8);
    border: 2px solid rgb(8, 173, 8);
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(8, 173, 8);
    color: white;
}

.next_task_href{
    font-size: 30px;
    text-decoration: none;
    color: #db3012;
}