* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif; /*задається типовий шрифт для всіх елементів які знаходяться в body*/
	display: flex; /*додав display flex для зручного розташування контенту на сторінці*/
	justify-content: center; /*додав властивість justify-content: center; для розташування page-wrapper по центру веб сторінки*/
}

img {
	display: block; /*змінено відображення картинок на block щоб не було не бажаних відступів*/
	width: 100%;
}

.page-wrapper {
	max-width: 860px; /*обмеження максимальної ширини в 860px для блоку page-wrapper*/
	width: 100%; /*задано ширину 100% для всіх елементів які знаходяться в середині page-wrapper*/
	margin: 30px 10px 20px;
	padding: 30px 10px 20px; /*внутрішній відступ зверху 30пікс, з ліва і права 10пікс, знизу 20пікс*/
	background-color: #008499;
}

.content-wrap {
	padding: 0 20px 20px;
	background-color: #fff;
}

header {
	height: 138px;
	background-image: url(..//images/header.png);
	background-repeat: no-repeat; /*за допомогою цієї властивості в нас зображення не буде повторюватись у випадку якщо його ширина менша за блок в який ми її вставляєм*/
	background-size: contain; /*властивість за допомогою якої фонове зображення маштабується так, щоб вона собою максимально накрила блок не обрізаючись*/
	background-position: center; /*відцентровує фонове зображення*/
}

main {
	padding: 20px 30px; /*внут відступ зверху та знизу по 20пікс, з ліва та права по 30пікс*/
	font-weight: 500;
	font-size: 1.2rem; /*задається розмір шрифту в одиницях вимірювання root em, вона залежить від базового шрифту*/
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.d-block {
	display: flex;
	justify-content: center;
}

.t-center {
	text-align: center;
}

.list { 
	padding-left: 60px; /*задається внутрішній відступ 60пікс до списку*/
}

.services-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;/*додав властивість justify-content: center; для розташування всіх карток по центру*/
	gap: 30px;
}

.services-list-item {
	width: calc(30% - 15px); /*задається ширина 50% від загальної з відступом 15пікс || змінено ширину на 30% для розміщення карток в 3 колони*/
}

.services-list-item__title {
	padding: 15px 0; /*відступ зверху та знизу по 15пікс, по боках відступ 0*/
	font-weight: bold;
	letter-spacing: 1px;
}

.btn {
	height: 50px;
	border-radius: 10px;
	line-height: 50px;
	background-color: #f53947;
	color: #fff;
	cursor: pointer;
}

.text-section a[href^='tel:'] {
	color: #000;
	text-decoration: none;
}

.link-btn {
	text-decoration: none;
}

footer {
	padding: 25px 0;
	background-color: #008499;
	color: #fff;
}

.social-links {
	font-size: 2rem;
}

.social-links a {
	color: white;
	text-decoration: none;
}


.social-links a:not(:last-child) /*Обирає всі <a> в .social-links, крім останнього*/ {
	margin-right: 10px;
}

footer p:nth-child(2) /*Обирає другий <p> у <footer>*/ {
	font-weight: bold;
}

footer p:last-child a /*Обирає всі <a> в останньому <p> у <footer>*/ {
	color: white;
	font-weight: bold;
}